.home-title {
    margin-top: -100px;
    margin-bottom: 80px;
    font-size: 4rem;
    font-weight: 700;
  }

.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }
  
  .role-box {
    background-color:rgb(235, 235, 235);
    width: 320px;
    height: 140px;
    border: 2px solid #3f6fa9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .role-box:hover {
    background-color: #3f6fa9;
    color: white;
    transform: translateY(-4px);
  }
  