/* ===== PAGE ===== */
.home-page {
  width: 100%;
  overflow-x: hidden;
}

/* ===== HERO ===== */
.hero-section {
  display: flex;
  gap: 40px;
  padding: 60px;
  align-items: center;
}

.hero-content {
  background: #f5f5f5;
  padding: 32px;
  border-radius: 16px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero-content:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.14);
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #f36c21;
}

.hero-content p {
  font-size: 20px;
  line-height: 1.6;
}

.hero-image img {
  width: 620px;
  max-width: 100%;
  border-radius: 16px;
}

/* ===== TEXT ===== */
.highlight {
  color: #2e7d32;
  font-weight: 700;
}

.animated-word {
  color: #f36c21;
  border-bottom: 4px solid #2e7d32;
  padding: 0 6px;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from { opacity: 0.7; }
  to { opacity: 1; }
}

/* ===== SERVICES ===== */
.services {
  padding: 0 60px;
  margin-top: 30px;
}

.services h2{
  font-size: 36px;
  color: #f36c21;
  margin-bottom: 20px;
}
.services h3 {
  font-size: 18px;
  color: #2e7d32;
  margin-bottom: 20px;
  text-align: center;
}
.services p{
  font-size: 18px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.service-card {
  width: 336px;
  background: #f5f5f5;
  padding: 24px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
  border: 2px solid #e0e0e0;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.14);
}

/* ===== IMPACT ===== */
.impact-section {
  margin-top: 30px;
  padding: 40px 60px;
}

.impact-title {
  font-size: 36px;
  color: #f36c21;
  margin-bottom: 20px;
}

.impact-card {
  display: flex;
  gap: 40px;
  align-items: center;
}

.impact-image img {
  width: 460px;
  /* max-width: 100%; */
  border-radius: 16px;
}

.impact-content {
  background: #f5f5f5;
  height: 45vh;
  padding: 28px;
  border-radius: 16px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.impact-content:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.14);
}

.impact-content p {
  font-size: 18px;
  font-weight: 500;
}

.impact-content li {
  margin-left: 40px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}

/* ===== FOOTER ===== */
.home-footer {
  margin-top: 80px;
  background: #3b3b3b;
  color: white;
  text-align: center;
}

.footer-copy {
  padding: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .hero-section,
  .impact-card {
    flex-direction: column;
    text-align: center;
  }

  .services {
    padding: 0 20px;
  }

  .hero-section,
  .impact-section {
    padding: 40px 20px;
  }

  .service-card {
    width: 100%;
  }
}
